* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;

}

body {
    background-color: #FAF9F5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin: 0px 0px;
    background-color: white;
    border-radius: 1%;
    padding: 15px 5px;
}

.brandlogo {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.brandtext {
    display: block;
}

.brandname {

    color: #264921;
}

.subhead {
    color: #4b5f48;
}

.navlink {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

.links a {
    color: black;
    text-decoration: none;
}

.links a:hover {
    color: #2f7624;
}

.icons i:hover {
    color: #2f7624;
    cursor: pointer;
}

.icons {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 70px;
}

.banner {
    display: block;
    padding: 150px;
    padding-left: 50px;
    background: url(./image/banner5.png);
    background-size: cover;
    background-position: center;

}

.subbanner {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #4b5f48;
}

.mainbanner {
    font-size: 55px;
    margin-bottom: 20px;
    color: #264921;
}

.parabanner {
    font-size: 20px;
    color: #4b5f48;

}

.shopbutton {
    background-color: #2d6a4f;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.shopbutton:hover {
    background-color: #91cc8c;
}

.explorebutton {
    margin-top: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    border-color: #567851;
}

.explorebutton:hover {
    background-color: #a8d68b;
}

.feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

    margin: -30px 40px;
    padding: 20px 50px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px;
    position: relative;


}

.featuresec h2 {
    color: #1c3a18;
}

.featuresec p {
    color: #3d5a39;
}

.cathead {
    text-align: center;
    margin-top: 90px;
    font-size: 25px;
    
color: #264921;

}
.cath{
    font-family: 'Times New Roman', Times, serif;
}

.plantcat {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    cursor: pointer;
}

.plntimg {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.featuredhead {
    text-align: center;
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 35px;
    color: #264921;
    font-family: 'Times New Roman', Times, serif;


}

.featuredcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 90%;
    max-width: 1200px;
    


}

.card {
    background-color: white;
    border-radius: 18px;
    overflow: hidden;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(14, 14, 14, 0.1);
    transition: 1s;
    margin: 0px 130px;
}

.card:hover {
    transform: translateY(-10px);

}

.cardimg {
    width: 100%;

}

.button {
    background-color: #2d6a4f;
    color: white;

    border: none;
    border-radius: 8px;
padding: 9px 18px;
    font-size: 15px;
        cursor: pointer;
        margin-bottom: 5px;
        

}
.card button:hover {
    background-color: #91cc8c;
    color: #173914;
}

.tipshead {
    font-size: 35px;
    text-align: center;
    
    color: #264921;
    margin-bottom: 35px;
    font-family: 'Times New Roman', Times, serif;

    
}

.tipbanner {
    margin-top: 50px;
    background-image: url(./image/backgroundtip.jpeg);
   
     background-repeat: no-repeat;
    background-position: right top;

    margin: 80px auto 30px;
    padding: 30px 50px;
    border-radius: 25px;
    box-shadow: 0px 5px 20px;
    position: relative;
width: 90%;
height: 250px;

}

.tips {
    display: flex;
    gap: 70px;
    padding-left: 30px;
    width: 78%;

}

.tipsubhead {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color:  #264921;
    


}

.tippara {
   color: #4b5f48;

    font-size: 17px;
    line-height: 1.5;

}

.footer {

      background-color: #93b39a;
      height: 170px;
      margin-top: 20px;
      padding: 30px 20px;
      color: #173914;


}

.footersub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
}

.fsubhead {
    font-size: 20px;
    padding: 10px 0px;
    color: #173914;
}
.tippara{
    font-size: 15px;
    color: #294629;
}
#quicklink{
    cursor: pointer;
}


.rights {
    text-align: center;
     padding: 8px;
     font-size: 15px;

}