* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;

}

body {
    background-color: #FAF9F5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    background-color: white;
    border-radius: 1%;

}

.brand {
    display: flex;
}

.brandlogo {

    text-decoration: none;
    align-items: center;
    padding: 30px 0px;
}



.brandname {

    color: #264921;
}

.subhead {
    color: #4b5f48;
}

.navlink {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

.links a {
    color: black;
    text-decoration: none;
}

.links a:hover {
    color: #2f7624;
}

.icons i:hover {
    color: #2f7624;
    cursor: pointer;
}

.icons {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 70px;
}


.banner {
    display: grid;
    grid-column: 1fr 1fr;
    align-items: center;
    padding-left: 50px;
    background: url(./image/banner5.png);

    background-position: center;
    height: 550px;
}

.subbanner {
    font-size: 25px;

    margin-bottom: 20px;
    color: #4b5f48;
}

.mainbanner {
    font-size: 55px;
    margin-bottom: 20px;
    color: #264921;
}

.parabanner {
    font-size: 20px;
    color: #4b5f48;

}

.shopbutton {
    background-color: #2d6a4f;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: 1s;
}

.shopbutton:hover {
    background-color: #91cc8c;
}

.explorebutton {
    margin-top: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding: 12px 25px;
    border-radius: 10px;
    border: solid;
    cursor: pointer;
    border-color: #567851;
    transition: 0.9s;
}

.explorebutton:hover {
    background-color: #a8d68b;
}

.feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

    margin: -30px 40px;
    padding: 20px 50px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px;
    position: relative;


}

.featuresec h2 {
    color: #1c3a18;
}

.featuresec p {
    color: #3d5a39;
}

.cathead {
    text-align: center;
    margin-top: 90px;
    font-size: 25px;

    color: #264921;

}

.cath {
    font-family: 'Times New Roman', Times, serif;
}

.plantcat {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    cursor: pointer;
}

.plntimg:hover {
    box-shadow: 0px 5px 20px rgb(71, 117, 71);
    transform: scale(1.02);

}

.plntimg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s ease;

}

.featuredhead {
    text-align: center;
    font-size: 35px;
    margin-top: 70px;

    color: #264921;
    font-family: 'Times New Roman', Times, serif;

}

.headunderline {
    text-align: center;
    margin-bottom: 40px;

    font-size: 25px;
}

.featuredcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;



}

.card {
    background-color: white;
    border-radius: 18px;
    overflow: hidden;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(14, 14, 14, 0.1);
    transition: 1s;

}

.card:hover {
    transform: translateY(-10px);

}

.cardimg {
    width: 100%;

}

.button {
    background-color: #2d6a4f;
    color: white;

    border: none;
    border-radius: 8px;
    padding: 9px 18px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 5px;


}

.card button:hover {
    background-color: #91cc8c;
    color: #173914;
}

.tipshead {
    font-size: 35px;
    text-align: center;

    color: #264921;

    font-family: 'Times New Roman', Times, serif;


}

.tipunder {
    text-align: center;
    margin-bottom: 35px;
}

.tipbanner {
    margin-top: 50px;
    background-image: url(./image/backgroundtip.jpeg);

    background-repeat: no-repeat;
    background-position: right top;

    margin: 80px auto 30px;
    padding: 30px 50px;
    border-radius: 25px;
    box-shadow: 0px 5px 20px;
    position: relative;
    width: 90%;
    height: fit-content;

}

.tips {
    display: flex;
    padding-left: 30px;
    justify-content: center;
    gap: 30px;


}

.tipsubhead {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: #264921;



}

.tippara {
    color: #4b5f48;

    font-size: 17px;
    line-height: 1.5;

}

.footer {

    background-color: #93b39a;
    height: fit-content;
    margin-top: 20px;
    padding: 30px 0px;
    color: #173914;


}

.footersub {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 20px;
}

.fsubhead {
    font-size: 20px;
    padding: 10px 0px;
    color: #173914;
}

.tippara {
    font-size: 15px;
    color: #294629;
}

#quicklink {
    cursor: pointer;
}

.socialicon {
    margin-top: 5px;
}

.rights {
    text-align: center;
    padding: 8px;
    font-size: 15px;

}



#check {
    display: none;
}

.icon {
    display: none;
    font-size: 25px;
    cursor: pointer;
    color: #264921;
}

#cancelicon {
    display: none;
}

/* media query/responsive */
@media (max-width: 769px) {

    /* NAVBAR */
    .navbar {
        padding: 12px 20px;
        position: relative;
    }

    /* Show menu button */
    .icon {
        display: block;
        font-size: 25px;
        cursor: pointer;
        color: #264921;
    }

    /* Initially show menu icon */
    #menuicon {
        display: block;
    }

    /* Initially hide cancel icon */
    #cancelicon {
        display: none;
    }

    /* Hide navigation */
    .navlink {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        flex-direction: column;
        align-items: center;

        background-color: white;
        padding: 15px 0;
        gap: 0;

        z-index: 1000;
    }

    .links {
        margin: 10px 0;
    }

    .icons {
        display: none;
    }

    /* CHECKED  */
    #check:checked~.navlink {
        display: flex;
    }

    /* Hide it when checked */
    #check:checked~.icon #menuicon {
        display: none;
    }

    /* Show X after check */
    #check:checked~.icon #cancelicon {
        display: block;
    }



    /* BANNER */

    .banner {
        padding: 70px 20px;
        text-align: center;
        height: fit-content;
        grid-template-columns: 1fr;
    }

    .mainbanner {
        font-size: 40px;
    }

    .subbanner {
        font-size: 20px;
    }


    /* FEATURES */
    .feature {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin: -30px 20px 0;
        padding: 20px;
    }


    /* CATEGORIES */
    .plantcat {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }

    .plntimg {
        width: 170px;
        height: 170px;
    }


    /* FEATURED PLANTS */
    .featuredcontainer {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin: 0 auto;
    }

    .card {
        width: 100%;
    }


    /* PLANT CARE */
    .tipbanner {
        width: 90%;
        height: auto;
        padding: 30px;
    }

    .tipshead {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .tips {
        width: 100%;
        gap: 30px;
        background-color: rgba(255, 255, 255, 0.5);

    }


    /* FOOTER */
    .footer {
        height: auto;
    }

    .footersub {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        padding-left: 20px;
    }
}

@media (max-width: 481px) {

    .navbar {
        padding: 12px 15px;
    }

    .brandname {
        font-size: 24px;
    }

    .icons {
        gap: 12px;
        margin-right: 0;

    }

    .banner {
        padding: 70px 20px;
        text-align: center;
    }

    .mainbanner {
        font-size: 32px;
    }

    .parabanner {
        font-size: 16px;
    }

    .feature {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .plantcat {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .featuredcontainer {
        width: 85%;
        grid-template-columns: 1fr;
    }

    .tips {
        flex-direction: column;
        gap: 25px;
    }

    .footersub {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
}